/* Global View */
body {
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: #EBEBEB;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    min-height: 600px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-top: 400px; /* Adjust based on viewport height */
}
.header-container {
    background-color: rgb(60, 60, 60);
    min-height: 150px;
    position: fixed;
    width: 100%;
    z-index: 1; 
}
header {
    max-width: 1300px;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col {
    width: 50%;
    margin-bottom: 40px;
    background-color: rgb(112, 141, 166);
    position: relative; /* Position relative for the shaking animation */
    /* transition: transform 0.2s ease; */
    box-shadow: grey 0px 0px 20px; /* Add shadow */
}
/* .col:hover {
    transform: translateX(30px); 
} */
.col p {
    font-size: 1.25rem;
    padding: 10px 10px;
    line-height: 1.5rem;
}
.col img {
    width: 100%;
    height: auto;
}
.mybutton {
    padding: 10px 25px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
}
.mob-wrapper {
    display: none;
}
.col p::first-line {
    font-weight: bold;
}
ul {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 1.5rem;
}
/* Tablet View */
@media (max-width: 768px) {
    .col {
        width: 70%;
    }
    /* .col:hover {
       transform: translateX(20px); 
        } */
    .header-container {
        position: relative;
    }
    .container {
        padding-top: 40px;
    }
    nav {
        display: none;
    }
    nav a {
        display: block;
    }
    .logo {
        padding: 30px 0;
    }
    .mybutton {
        margin-left: 0;
    }
    .mob-wrapper {
        display: block;
        padding-right: 30px;
    }
    .mob-nav {
        display: none;
        position: absolute;
        padding-right: 30px;
        padding-top: 10px;
    }
    .navbutton {
        display: block;
        background-color: rgb(97, 124, 146);
        padding: 15px 30px;
        margin-left: -70px;
        text-align: center;
    }
}
/* Mobile View */
@media (max-width: 480px) {
    .col {
        width: 80%;
    }
}