<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker - Details</title>
    <!-- <link rel="stylesheet" href="/static/css-reset.css"> -->
    <link rel="stylesheet" href="/static/details.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap&family=Open+Sans:wght@300&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <header>
            <div class="logo">
                <h1>Groupie Tracker Project</h1>
            </div>
            <nav>
                <a href="index.html" class="mybutton">Back</a>
            </nav>
            <div class="mob-wrapper">
                <img src="/static/icon-burger-menu.svg" alt="Mobile Menu Icon" style="width: 40px;" class="burgermenu">
                <div class="mob-nav">
                    <a href="index.html" class="navbutton">Back</a>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="col">
            <img src="{{.artist.Image}}" alt="">
            <p>Artist: {{.artist.Name}}</p>
            <p>Location: 
                {{range $key, $value := .locations}}
                    {{$key}}: {{$value}},
                {{end}}
            </p>
            <p>Dates: </p>
            <p>Relation: </p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/static/scripts.js"></script>
    
</body>
</html>
