<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap&family=Open+Sans:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header-container">
        <header>
            <div class="logo">
                <h1>Groupie Tracker Project</h1>
            </div>
            <nav>
                <a href="/templates/index.html" class="mybutton">Home</a>
                <!-- <a href="#" class="mybutton">Bands</a> -->
            </nav>
            <div class="mob-wrapper">
                <img src="/static/icon-burger-menu.svg" alt="Mobile Menu Icon" style="width: 40px;" class="burgermenu">
                <div class="mob-nav">
                    <a href="/templates/index.html" class="navbutton">Home</a>
                    <!-- <a href="#" class="navbutton">Bands</a> -->
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <!-- {{.}} -->
        {{ range .artists }}
        <div class="col"><img src="{{.Image}}" alt="">
            <p>Artist: {{.Name}}</p>
            <div class="link-wrapper">
                <a href="/details/{{.ID}}" class="detailsbutton">More Details</a>
                <!-- <form action="/details/{{.ID}}" method="get" class="detailsbutton">
                    <button type="submit" class="detailsbutton">
                        More Details
                    </button>
                </form> -->
            </div>
        </div>
        {{end}}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/static/scripts.js"></script>


</body>

</html>
